.carousel {
  width: 100%;
  height: 90vh;
}
 .caro-item img {
  width: 100%;
  height: 90vh;
  position: relative;
  object-fit: cover;
}
 .caro-item .descript {
  width: 541px;
  position: absolute;
  top: 184px;
  left: 200px;
  text-align: left;
}
 .caro-item .descript p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 43px;
  line-height: 130%;
  text-transform: uppercase;
  color: #ffffff;
}
 .caro-item .descript p span{
  font-weight: 800;
}
 .caro-item .descript button {
  width: 143px;
  height: 45px;
  border-radius: 5px;
  background-color: #1a6cc7;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #f4f7f5;
  transition: 0.3s linear;
}
.caro-item .descript button:hover{
  background-color:rgba(82, 122, 241,0.7); 
}
/* responsive---- */
@media screen and (max-width:800px) {
  .carousel{
    height:300px;
  }
   .caro-item .descript {
    width: 250px;
    top: 110px;
    left: 30px;
  }
  .caro-item img{
    height: 300px;
  }
  .caro-item .descript p {
    font-size: 16px;
    line-height: 30px;
  }
 
   .caro-item .descript button {
    width: 123px;
    height: 35px;
    font-size: 14px;
    margin-bottom: 30px;
  }
}