.partners-page {
  width: 100vw;
  max-width: 100%;
  margin-top: 60px;
}
.partners-page .navbarr {
  background-color: #f4f7f5;
}
.partners-page .navbarr .link1 {
  display: none;
}
.partners-page .navbarr .leftBlack {
  display: block;
}
.partners-page .navbarr li,
.partners-page .navbarr .right select {
  color: black;
  text-decoration: none;
}
