.partners {
  width: 100%;
  padding: 0 75px;
  margin-bottom: 50px;
}
.partners h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #333333;
  margin-bottom: 90px;
  margin-top: 90px;
}
.partners .logos {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 90%;
  margin: 0 auto;
  grid-gap: 30px;
}
.partners .logos .logo{
  text-align: center !important;
}
.partners .logos .logo img {
  height: 60px;
  width: 120px;
  object-fit: contain;
}
@media screen and (max-width: 800px) {
  .partners {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
  }
  .partners h1 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
  }
  .partners .logos {
    overflow-x: scroll;
    padding-bottom: 30px;
    width: 100%;
  }
  .partners .logos .logo img {
    height: 40px;
    width: 95px;
  }
}
