.blogs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,auto);
  }
 
  .blogs section{
    overflow: hidden;
    transition: 0.8s linear;
    width: 100%;
    position: relative;
    height: 450px;
  
  }
  .blogs section  img {
    width: 100%;
    cursor: pointer;
    transition: 0.8s linear;
    height: 450px;
    object-fit: cover;
  }
  .blogs section:hover img{
  transform: scale(1.3);
  z-index: 99;
  }
  .blogs section p {
    position: absolute;
    top: 80%;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    color: #f4f7f5;
  } 
 
  @media screen and (max-width:556px){
    .blogs {
      grid-template-columns:auto;
      grid-gap: 5px;
  
    }
    .blogs section p {
      top: 70%;
      left: 13px;
      font-size: 20px;
      width: 70%;
      line-height: 30px;
      color: #f4f7f5;
    }
    .blogs section {
      height: 250px;
    }
    .blogs section img {
      height: 250px;
      
    }
  }
  @media screen and (min-width:556px) and (max-width:800px){
    .blogs {
      grid-template-columns:repeat(2,auto);
      grid-gap: 5px;
  
    }
    .blogs section p {
      top: 70%;
      left: 13px;
      font-size: 20px;
      width: 70%;
      line-height: 30px;
      color: #f4f7f5;
    }
    .blogs section {
      height: 250px;
    }
    .blogs section img {
      height: 250px;
      
    }
  }